<%# 
These are my test cases when moding the file
https://www.empireadc.org/search/catalog/nygvahs_5074
https://www.empireadc.org/search/catalog/nygvahs_5468
https://empireadc.org/search/catalog/npv_vc_student_materials
https://empireadc.org/search/catalog/nbrocku_5497
https://www.empireadc.org/search/catalog/nysspl_4388
https://www.empireadc.org/search/catalog/nnmec_142
 %>
<%= tag.div id: t("arclight.views.show.sections.#{@section}").parameterize do %>
  <% if @heading %>
    <h3 class='al-show-sub-heading'>
      <%= t("arclight.views.show.sections.#{@section}", level: @presenter.document.level) %>
    </h3>
  <% end %>

  <%= tag.dl class: @classes do %>
    <% @presenter.field_presenters.each do |field_presenter| %>
      <% if field_presenter.field_config.key == 'otherfindaid' %>
        <dt class="blacklight-otherfindaid col-md-3 offset-md-1">
          Other finding aids:
        </dt>
        <% field_value = field_presenter.render %>

        <dd class="col-md-8 blacklight-otherfindaid">
          <% field_value.split('</p>').each do |value| %>
            <% clean_value = value.gsub(/<\/?p>/, '').strip %>

            <% if clean_value.include?('<list>') %>
              <% formatted_value = clean_value.gsub('<list>', '<ul>').gsub('</list>', '</ul>').gsub('<item>', '<li>').gsub('</item>', '</li>') %>
              <div>
                <%= formatted_value.html_safe %>
              </div>
            <% elsif clean_value =~ /^https?:\/\/.*\.pdf$/ %>
              <p>
                <%= link_to clean_value, target: '_blank', rel: 'noopener noreferrer' do %>
                  <%= image_tag('pdf_icon.png', alt: 'PDF Icon', class: 'pdf-icon', style: 'height: 60px;') %>
                  <span class="sr-only">Download PDF: </span>
                  <%= clean_value.split('/').last.gsub('_', ' ') %>
                <% end %>
              </p>
            <% elsif clean_value =~ /^https?:\/\/.*\.(xlsx|xls)$/ %>
              <p>
                <%= link_to clean_value, target: '_blank', rel: 'noopener noreferrer' do %>
                  <%= image_tag('excel_icon.png', alt: 'Excel Icon', class: 'excel-icon', style: 'height: 60px;') %>
                  <span class="sr-only">Download Excel: </span>
                  <%= clean_value.split('/').last.gsub('_', ' ') %>
                <% end %>
              </p>
            <% else %>
              <p><%= clean_value.html_safe %></p>
            <% end %>
          <% end %>
        </dd>
      <% else %>
        <%= render (field_presenter.component || Blacklight::MetadataFieldComponent).new(field: field_presenter, show: true, **@metadata_attr) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
