<%= tag.div id: t("arclight.views.show.sections.#{@section}").parameterize do %>
  <% if @heading %>
    <h3 class='al-show-sub-heading'>
      <%= t("arclight.views.show.sections.#{@section}", level: @presenter.document.level) %>
    </h3>
  <% end %>

  <%= tag.dl class: @classes do %>
    <% @presenter.field_presenters.each do |field_presenter| %>
      <% if field_presenter.field_config.key == 'relatedmaterial' %> <!-- Handle related material -->
        <dt class="blacklight-relatedmaterial col-md-3 offset-md-1">Related Materials:</dt>

        <% field_values = field_presenter.render %>
        <% require 'action_view' %>
        <% cleaned_field_values = strip_tags(field_values).strip %> <!-- Stripping HTML tags -->

        <% if cleaned_field_values.is_a?(String) %>
          <% # Matching URLs in the text and making them active links %>
          <% cleaned_field_values.gsub!(%r{https?://[^\s<]+}, '<a href="\0" target="_blank">\0</a>') %> 
        <% end %>

        <dd class="col-md-8 blacklight-relatedmaterial">
          <%= cleaned_field_values.html_safe %> <!-- Ensure the cleaned and linked values are rendered correctly -->
        </dd>

      <% elsif field_presenter.field_config.key == 'otherfindaid' %> <!-- Existing logic for other finding aids -->
        <dt class="blacklight-otherfindaid col-md-3 offset-md-1">Other finding aids:</dt>

        <% field_values = field_presenter.render %>
        <% cleaned_field_values = strip_tags(field_values).strip %> <!-- Stripping HTML tags -->

        <% if cleaned_field_values =~ /https:\/\/archipelago\.senylrc\.org/i %>
          <% cleaned_field_values = cleaned_field_values.match(/https:\/\/archipelago\.senylrc\.org.*/i)[0] %>
          <% if cleaned_field_values =~ /\.pdf$/i %>
            <dd class="col-md-8 blacklight-otherfindaid">
              <%= link_to cleaned_field_values, target: '_blank' do %>
                <%= image_tag('pdf_icon.png', alt: 'PDF Icon', class: 'pdf-icon', style: 'height: 60px;') %>
              <% end %>
            </dd>
          <% elsif cleaned_field_values =~ /\.xls|\.xlsx$/i %>
            <dd class="col-md-8 blacklight-otherfindaid">
              <%= link_to cleaned_field_values, target: '_blank' do %>
                <%= image_tag('excel_icon.png', alt: 'Excel Icon', class: 'excel-icon', style: 'height: 60px;') %>
              <% end %>
            </dd>
          <% else %>
            <dd class="col-md-8 blacklight-otherfindaid">
              <%= cleaned_field_values.html_safe %> <!-- Ensure the cleaned and linked values are rendered correctly -->
            </dd>
          <% end %>
        <% else %>
          <dd class="col-md-8 blacklight-otherfindaid">
            <%= cleaned_field_values.html_safe %> <!-- Render the linked text -->
          </dd>
        <% end %>
      <% else %>
        <%= render (field_presenter.component || Blacklight::MetadataFieldComponent).new(field: field_presenter, show: true, **@metadata_attr) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
